.input-wrapper {
	position: relative;
	max-width: 384px;
	width: 100%;
	display: flex;
}

.main-input {
	display: block;
	width: 100%;
	height: 64px;
	color: #68728d;
	background: rgba(255, 255, 255, 0.01);
	border: none;
	padding: 18px 22px;
	box-sizing: border-box;
	border: 1px solid #323b54;
	border-radius: 12px;
	font-size: 14px;
	transition: all linear 0.2s;
}

.main-input::placeholder {
	color: #475069;
}

.main-input__icon {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 18px;
}

.main-input__icon--padding {
	padding-left: 56px;
}

.main-input:focus {
	border: 1px solid rgb(62, 73, 103);
}
